
.container{
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  padding: 10px;
}
.video{
  margin: auto;
  width: 50%;
  padding: 10px;
}
#songInfo{
  margin: 15px 0px;
}
.song-info{
  display:flex;
  justify-content: space-between;
}
.progress{
  height:32px;
  background-color: rgb(216, 212, 212);
  margin:-5px; 
}
.progress-bar{
  background-color: rgb(150, 141, 236);
  transition-duration: 0ms;
}
.control{
  display:flex;
  width:100%;
  justify-content: center;
}
.control-left{
  margin:2px 0px;
}
.control-center>ul, .control-right>ul{
  display:flex;  
  justify-content: center;
  list-style: none;
}
.playerPB{
  padding-left: 0px;
}
ul.playerPB {
  list-style: none;
}
ul.playerPB>li {
  margin:15px 0px;
}
.control-center>ul>li, .control-right>ul>li{
  margin:0 5px; 
}
.pull-left{
  float:left;
} 
.progress-bar-placeholder{
  display:flex;
  align-content: center;
}
.dropdown-menu{
  width:100%;
}
#video-placeholder{
 /* 25% of viewport */
 height: 35vh;
 margin: auto;
 width: 50%; 
 display:flex;

}
#video-placeholder iframe{
  width:100%;
  height: 100%;
  position:absolute;
}