
.container{
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  padding: 10px;
}
#songInfo{
  margin:15px 0px;
}
.top{
  display:flex;
  justify-content: space-between;
}
.progress{
  height:32px;
  background-color: rgb(216, 212, 212);
  margin:-5px;
}
.control{
  display:flex;
  width:100%;
  justify-content: center;
}
.control-left{
  margin:2px 0px;
}
.control-center>ul, .control-right>ul{
  display:flex;  
  justify-content: center;
  list-style: none;
}
.control-center>ul>li, .control-right>ul>li{
  margin:0 5px; 
}
.pull-left{float:left}
.dropdown-menu{
  width:100%;
}
